body {
  background-color: #181818;
  color: #dadada;
  font-family: "Inter", sans-serif;
}

.mermaid svg {
  max-width: 100%;
  height: auto;
  border: 2px solid #8b0000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #181818;
  width: 100%;
  overflow: hidden;
}

.nav-link {
  font-family: "Major Mono Display", monospace;
  color: #dadada;
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #282828;
}

.nav-link:active {
  background-color: #383838;
  color: yellowgreen;
}

.bar-item {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* text styles */

.brand-font {
  font-family: "Nanum Gothic Coding", serif;
  letter-spacing: 0.4rem;
}

.big-letter {
  font-size: 1.8rem;
  color: fuchsia;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-ghost {
  color: ghostwhite;
}

.text-ghost:hover {
  color: salmon;
}

/* fonts */
.major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

.pompiere-regular {
  font-family: "Pompiere", serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-light-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter-thin {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-thin-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.inter-medium {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-medium-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-semibold-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-black {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-black-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

.inter-tight-regular {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-tight-bold {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-tight-bold-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.inter-tight-light {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-tight-light-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter-tight-thin {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-tight-thin-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.inter-tight-medium {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-tight-medium-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.inter-tight-semibold {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-tight-semibold-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-tight-black {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-tight-black-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
