body {
  background-color: #181818;
  color: #dadada;
  font-family: "Inter", sans-serif;
}

.mermaid:not(:has(> svg)) {
  left: -99999px;
  position: relative;
}

.flowchartTitleText {
  font-family: monospace;
}

/* boxes */
.basic.label-container,
.actor,
.node path {
  fill: #e7dada !important;
  stroke: #b29ca2 !important;
  stroke-width: 2px !important;
  font-size: 1rem !important;
  font-family: monospace !important;
}

g.edgeLabel span {
  color: fuchsia !important;
  font-size: .8rem;
  font-family: monospace !important;
  fill: none !important;
}

.actor-line {
  stroke: violet !important;
}

.mermaid svg {
  width: 100%;
  height: auto;
  border: thin solid #5e716a;
  box-shadow: inset 1px 1px 1px 0 #3e3d53, inset -1px -1px 1px 0 #3e3d53;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 2rem 4rem;
  background-color: #f3f0e8;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: fit-content(85%);
  gap: 1rem;
}

.activeRoute {
  .basic.label-container {
    fill: whitesmoke !important;
    stroke: yellowgreen !important;
  }
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #181818;
  width: 100%;
  overflow: hidden;
}

.nav-link {
  font-family: "Major Mono Display", monospace;
  color: #dadada;
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #282828;
}

.nav-link:active {
  background-color: #383838;
  color: yellowgreen;
}

.bar-item {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySlides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flowchart {
  stroke: var(--tertiaryColor) !important;
}

/* text styles */

.brand-font {
  font-family: "Nanum Gothic Coding", serif;
  color: snow;
}

.big-letter {
  font-size: 1.8rem;
  color: fuchsia;
}

.text-xs {
  font-size: 0.6rem;
}

.text-sm {
  font-size: 0.9rem;
}

/* fonts */
.major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

.pompiere-regular {
  font-family: "Pompiere", serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-light-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter-thin {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-thin-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.inter-medium {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-medium-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-semibold-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-black {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-black-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

.inter-tight-regular {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-tight-bold {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-tight-bold-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.inter-tight-light {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-tight-light-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter-tight-thin {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-tight-thin-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.inter-tight-medium {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-tight-medium-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.inter-tight-semibold {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-tight-semibold-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-tight-black {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-tight-black-italic {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
